.grid {
  .wrapper {
    border: 1px solid #000;
    padding: 40px;
    /* 声明一个容器 */
    display: grid;
    // display: inline-grid;
    /*  声明列的宽度  */
    // grid-template-columns: 100px 500px 200px;
    grid-template-columns: 200px auto 200px;
    /*  声明行间距和列间距  */
    // grid-gap: 5px;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    grid-auto-rows: 50px;
    /*  声明行的高度  */
    grid-template-rows: 100px 200px;

    grid-template-areas:
      "header header  header"
      "sidebar content content";

    &>div {
      border: 1px solid rgb(90, 86, 86);
      transition: all .3s ease;

      &:nth-child(2) {
        grid-area: header;
      }

      &:hover {
        box-shadow: 0 10px 6px #000;
      }
    }
  }
}